.menu {
    float:left;
    width:20%;
    text-align:center;
  }
  
  .menu a {
    background-color:#e5e5e5;
    padding:8px;
    margin-top:7px;
    display:block;
    width:100%;
    color:black;
  }
