
<link rel="stylesheet" href="/css/footer.css">

<div id="milk-and-more" class="section footer">
    <div class="footer_contact_block">
        <h2 class="footer_h2">
        "Happy to fulfeel your needs,"
        <br>
        "For any Query:- call/whatsapp on "
        <span class="footer_contact_span">
            "8411827991"
        </span>
        </h2>
    </div>
    <div class="footer_flex_row policies">
        <a href="#" class="footer_link policy-links">Terms & Conditions</a>
        <a href="#" class="footer_link policy-links">Careers</a>
        <a href="#" class="footer_link policy-links">Policy</a>
        <a href="#" class="footer_link policy-links">License</a>
        <a href="#" class="footer_link policy-links">Order Update</a>
    </div>
</div>
