<head>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
<div class="navigation-container">
    <a href=""  class="logo w-inline-block w--current">
        <img src="/public/icon.jpg" height="50" width="50">
    </a>
    <nav class="nav-menu w-nav-menu">
        <a href="#" class="nav-link w-nav-link">THE NEW SUPR</a>
        <a href="#" class="nav-link w-nav-link">FEATURES</a>
       
        <a href="#" class="nav-link w-nav-link">DOWNLOAD APP</a>
        <a href="#" class="nav-link w-nav-link">COVID-19 MEASURES</a>
        <a href=""  class="nav-link w-nav-link">SERVICE FEE</a>
        <a href="#" class="nav-link w-nav-link">ACCESS</a>
        <a href="#" class="nav-link w-nav-link">OTHER UPDATES</a>
    </nav>
</div>
</body>
