<link rel="stylesheet" href="/css/left.css">

<div class="menu">
    <a href="/category/fruits">Fruits</a>
  <a href="/category/vegetables">Vegetables</a>
  <a href="/category/milk">Milk</a>
  <a href="/category/dailyneeds">Daily Needs</a>
   <a href="/category/dairyproducts">Dairy products</a>
 <a href="/category/bakerybiscuits">Bakery & Biscuits</a>
  <a href="/category/beverages">Beverages</a>
   <a href="/category/snacks">Snacks & Sweets</a>
   <a href="/category/breakfast">Breakfast cereals</a>
   <a href="/category/spreads">Spreads & Sauces</a>
</div>
