<html>
    <head>
        <title>
          Hello
        </title>

        

       

    </head>
    <body>
        <%- include('_header'); -%>
        

        <main id="layout-main">
            <div style="overflow:auto">
                <div>
                    <%- include('_left'); -%>
                </div>
                <%- body -%>
            </div>
           

        </main>
            

        <%- include('_footer'); -%>
    </body>
</html>
