<html>
    <head>
        <title>

        </title>
    </head>

    <body>
        <form action="/add-task" method="POST">
            <input type="text" name="description">
            <input type="date" name="date">
            <input type="text" name="category">

            <button type="submit">
                ADD TASK
            </button>

            <!-- <button type="submit">DELETE TASK</button> -->
       </form>




       <div>
           <ul>
               <%for(let i of to_List){%>

                <li>
                    <span>
                        <%=i.description%>

                    </span>
                    <span>
                        <%=i.date%>
                    </span>
                    <span>
                        <%=i.category%>
                    </span>
                </li>

                <div>
                    <a href="/delete-task/?id=<%=i.description%>">
                        <button>
                            Delete task
                        </button>

                    </a>
                </div>

                <%}%>
           </ul>

           
       </div>


       
    </body>
</html>
